@page
@model WebAppRazorPages.Pages.Categories.IndexModel
@{
    ViewData["Title"] = "Categories";
    Layout = "Layouts/_Admin";
}

<div class="container p-3">
    <div class="row ">
        <div class="col-12">
            <a class="btn btn-primary float-right" asp-page="create">Add New Category</a>
            <h2 class="text-primary ">Category List</h2>
        </div>
    </div>
    <div class="row mt-5 ">
        <div class="col-md-12">

            <table class="table table-bordered table-striped">
                <thead>
                <th>Name</th>
                <th>Order</th>
                <th>Action</th>
                </thead>
                <tbody>
                    @foreach (var category in Model.Categories)
                    {
                        <tr>

                            <td>@category.Name</td>
                            <td>@category.DisplayOrder</td>
                            <td>

                                <a asp-page="Edit" asp-route-id="@category.Id" class="btn-sm btn-warning btn"> Edit</a>
                                <button data-id="@category.Id" type="submit" class="btn btn-sm btn-danger delete-category">Delete</button>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Modals
{

    <div class="modal fade" id="DeleteCategoryModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Delete Category</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>


                <form method="post" asp-page-handler="Delete">
                    <input hidden id="CategoryId" name="id" />
                    <input hidden name="__RequestVerificationToken" value="@Html.AntiForgeryToken()" />
                    <div class="modal-body">
                        Are you sure to delete this category?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
}


@section Scripts
{
    <script>
        $(".delete-category").click(function (e) {
            e.preventDefault();
            var modal = $("#DeleteCategoryModal");
            modal.find("#CategoryId").val($(this).data('id'));
            modal.modal('show');

        });
    </script>
}